@import '../variables';

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.modal {
  padding: 50px;
  background-color: $grey0;
  z-index: 9999;
  min-width: 500px;
  max-width: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;

    &__icon {
      color: $blue3;
    }

    &__header {
      color: $blue2;
      margin: 30px 0;
      font-weight: 400;
    }

    &__buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        cursor: pointer;
      }

      &__cancelBtn,
      &__confirmBtn {
        background-color: $blue2;
        border: none;
        font-size: 1em;
        color: $grey0;
        padding: 20px;
        margin: 0 10px;

        width: 100%;
        height: 100%;

        //min-width: 120px;
        //min-height: 70px;
      }

      // * {
      //   width: 120px;
      //   height: 70px;
      //   color: $grey0;
      //   padding: 1rem;
      //   margin: 1rem;
      //   background-color: $blue2;
      //   border: none;
      //   cursor: pointer;
      //   font-size: 1.1rem;
      // }
    }
  }
}

@media screen and (max-width: '500px') {
  .modal {
    min-width: 100vw;
  }
}
