@import '../variables';

.exercise {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    color: $blue4;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $blue4;
  }
}

.modalContent {
  text-align: center;

  &__header {
    display: block;
    margin-bottom: 5rem;
    color: $blue2;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    * {
      width: 120px;
      height: 70px;
      color: $grey0;
      padding: 1rem;
      margin: 1rem;
      background-color: $blue2;
      border: none;
      cursor: pointer;
      font-size: 1.1rem;
    }
  }
}
