@import '../variables';

.muscle {
  padding: 2rem 0;
  border-bottom: 1px solid $blue3;

  &__title {
    margin-bottom: 1em;
    //position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &__name {
      margin-right: 2em;
      text-align: center;
      text-transform: capitalize;
      font-weight: 400;
      color: $blue4;
    }

    &__icon {
      color: $blue4;
    }
  }

  &__exercises {
    margin: 2rem 0;

    &__empty {
      text-align: center;
      margin: 1rem 0;
      font-weight: 300;
    }
  }
}
