@import '../variables';

.muscle {
  padding: 2rem 1rem;
  border-bottom: 1px solid $blue3;

  &__title {
    margin-bottom: 2rem;
    position: relative;

    &__name {
      // margin-right: 2rem;
      text-align: center;
      text-transform: capitalize;
    }

    &__icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__exercises {
    margin: 2rem 0;

    &__empty {
      text-align: center;
      margin: 1rem 0;
      font-weight: 300;
    }
  }
}
