@import '../variables.scss';

.sidebar {  
  position: fixed;
  height: 100%;
  width: 100%;
  background: $grey0;
  padding: 1rem;
  z-index: 999;

  transition: transform 0.2s ease-in-out;

  li {
    text-align: center;
    color: $blue5;
    padding: 2rem;
    font-size: 2em;
    border-bottom: 1px solid $blue5;
  }
}

.hidden {
  transform: translateX(100%);
}
