@import '../variables';

.training {
  padding: 3em;
  cursor: pointer;
  border-bottom: 1px solid $blue4;
  max-width: 400px;
  margin: auto;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

  a {
    display: flex;
    justify-content: space-between;
  }

  &__date,
  &__location {
    font-weight: 400;
    color: $blue4;
  }

  &:hover {
    background-color: #fff;
    transform: scale(1.025);
  }
}

@media screen and (max-width: 380px) {
  .training {
    a {
      flex-direction: column;
    }
  }
}
