@import '../variables';

.training {
  margin: auto;
  padding: 1em;

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__overalInfo {
    * {
      font-weight: 300;
    }

    span {
      font-weight: 600;
    }
  }

  &__details {
    margin-top: 2rem;

    &__title {
      text-align: center;
      padding: 1rem;
      border-bottom: 3px solid $blue2;
      color: $blue2;
    }
  }
}

.loadingContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
