@import '../variables';

.training {
  margin: auto;
  padding: 1em;

  &__title {
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &__icons {
      * {
        cursor: pointer;
        margin-left: 1rem;
      }
    }
  }

  &__overalInfo {
    * {
      font-weight: 300;
    }

    span {
      font-weight: 600;
    }
  }

  &__details {
    margin-top: 2rem;

    &__title {
      text-align: center;
      padding: 1rem;
      border-bottom: 3px solid $blue2;
      color: $blue2;
    }
  }
}

.loadingContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  text-align: center;

  &__header {
    display: block;
    margin-bottom: 5rem;
    color: $blue2;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    * {
      width: 120px;
      height: 70px;
      color: $grey0;
      padding: 1rem;
      margin: 1rem;
      background-color: $blue2;
      border: none;
      cursor: pointer;
      font-size: 1.1rem;
    }
  }
}
