@import '../variables';

.edit {
  padding: 1em;
  text-align: center;
  max-width: $maxContentWidth;
  margin: auto;

  &__header {
    margin: 1em 0;
    padding-bottom: 2rem;
    font-weight: 400;
    color: $blue4;
    border-bottom: 1px solid $grey2;
  }
}
