$grey0: #f6f8ff;
$grey1: #cad2e6;
$grey2: #7d8597;
$grey3: #5c677d;
$grey4: #33415c;
$blue1: #0466c8;
$blue2: #0353a4;
$blue3: #023e7d;
$blue4: #002855;
$blue5: #001845;
$blue6: #001233;
$background1: $grey0;
$background2: #fff;
$primaryFont: 'Montserrat', sans-serif;
$boxShadow1: 0px 0px 5px 1px;
$boxShadow2: 10px -10px 0px 0px;
$navHeight: 80px;
$maxContentWidth: 600px;
