@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import './variables';

body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: $background1;
  font-family: $primaryFont;
}

body.no-scroll {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
