@import "../variables";

.container {
  margin-top: 30px;
}

.header {
  color: $blue2;
  font-weight: 400;
  text-align: center;
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  aspect-ratio: 2/1;
  max-width: 1200px;
}

.summary {
  margin-bottom: 70px;
  text-align: center;
  
  & > * {
   color: $blue4;
    
  }

  &__header {
    font-weight: 400;
    margin-bottom: 10px;
  }
}
